<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <div class="card bg-secondary shadow-soft border-light p-4">
                            <div class="text-center pb-0">
                                <h2 class="h4">Promeni lozinku</h2>  
                            </div>
                            <div *ngIf="selectedOption === 'znam_lozinku'">
                                <div class="form-group text-center">
                                    <div class="form-group">
                                        <label for="odgovor">Stara lozinka</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" [(ngModel)]="odgovor" id="odgovor" type="text">
                                        </div>
                                    </div>
                                    <button (click)="odgovori1()" class="btn btn-block btn-info">
                                        Odgovori
                                    </button>
                                    <br>
                                    <div class="form-group" *ngIf="answered==true">
                                        <label for="nova_lozinka1">Nova lozinka</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" [(ngModel)]="nova_lozinka" id="nova_lozinka1" type="text">
                                        </div>
                                        <label for="ponovljena_nova_lozinka1">Ponovljena nova lozinka</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" [(ngModel)]="ponovljena_nova_lozinka" id="ponovljena_nova_lozinka1" type="text">
                                        </div>
                                    </div>
                                    <button (click)="promeni_lozinku()" class="btn btn-block btn-info" *ngIf="answered==true">
                                        Promeni lozinku
                                    </button>
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="message != ''">
                                    {{message}}
                                </div>
                            </div>

                            <div *ngIf="selectedOption === 'sigurnosno_pitanje'">
                                <div class="form-group text-center">
                                    <div class="form-group" *ngIf="prviDeo==true">
                                        <label for="odgovor1">Korisničko ime</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" [(ngModel)]="odgovor" id="odgovor1" type="text">
                                        </div>
                                    </div>
                                    <button (click)="odgovori3()" class="btn btn-block btn-info" *ngIf="prviDeo==true">
                                        Odgovori
                                    </button>
                                    <div class="form-group" *ngIf="prviDeo==false">
                                        <label for="odgovor2">Pitanje: {{korisnik.pitanje}}</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" [(ngModel)]="odgovor" id="odgovor2" type="text">
                                        </div>
                                    </div>
                                    <button (click)="odgovori2()" class="btn btn-block btn-info" *ngIf="prviDeo==false">
                                        Odgovori
                                    </button>
                                    <br>
                                    <div class="form-group" *ngIf="answered==true">
                                        <label for="nova_lozinka2">Nova lozinka</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" [(ngModel)]="nova_lozinka" id="nova_lozinka2" type="text">
                                        </div>
                                        <label for="ponovljena_nova_lozinka2">Ponovljena nova lozinka</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" [(ngModel)]="ponovljena_nova_lozinka" id="ponovljena_nova_lozinka2" type="text">
                                        </div>
                                    </div>
                                    <button (click)="promeni_lozinku()" class="btn btn-block btn-info" *ngIf="answered==true">
                                        Promeni lozinku
                                    </button>
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="message != ''">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>