<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Left Section -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <section class="section section-lg pt-0">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card bg-secondary shadow-soft border-light p-4">
                                            <div class="text-center pb-0">
                                                <h2 class="mb-0 h5">Aktuelne porudžbine</h2>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <table class="table table-striped">
                                                    <thead class="thead-dark">
                                                      <tr>
                                                        <th>Naziv restorana</th>
                                                        <th>Status</th>
                                                        <th>Procenjeno vreme dostave</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let a of aktuelne_porudzbine">
                                                            <td>{{a.naziv}}</td>
                                                            <td>U pripremi</td>
                                                            <td>{{a.vreme_dostave}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--Right Section-->
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="card bg-secondary shadow-soft border-light p-4">
                            <div class="text-center pb-0">
                                <h2 class="mb-0 h5">Arhiva</h2>                               
                            </div>
                            <div class="card-body text-center">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="form-group text-center fw-bold">Arhiva:</div>
                                        <table class="table table-striped">
                                            <thead class="thead-dark">
                                              <tr>
                                                <th>Datum dostave</th>
                                                <th>Račun</th>
                                                <th>Naziv restorana</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let a of arhiva">
                                                    <td>{{a.azurirana_u}}</td>
                                                    <td>{{a.cena}}</td>
                                                    <td>{{a.naziv}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
