<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <br>
                        <div class="card bg-warning shadow-soft p-4">
                            <div class="text-center  pb-0">
                                <h2 class="mb-0 h5">Napravi nalog</h2>                               
                            </div>
                            <div class="card-body text-center">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="korime">Korisničko ime</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="korime" [(ngModel)]="korime" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mejl">Mejl</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="mejl" [(ngModel)]="mejl" type="text" aria-label="email adress" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lozinka">Lozinka</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="lozinka" [(ngModel)]="lozinka" type="password" aria-label="email adress" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="potvrda">Potvrdi lozinku</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="potvrda" [(ngModel)]="potvrda" type="password" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="potvrda">Sigurnosno pitanje</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="pitanje" [(ngModel)]="pitanje" type="text" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="potvrda">Odgovor na pitanje</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="odgovor" [(ngModel)]="odgovor" type="text" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ime">Ime</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="ime" [(ngModel)]="ime" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="prezime">Prezime</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="prezime" [(ngModel)]="prezime" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="adresa">Adresa</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="adresa" [(ngModel)]="adresa" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefon">Kontakt</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="telefon" [(ngModel)]="kontakt" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefon">Restoran</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="kartica" [(ngModel)]="restoran" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <p class="form-check-inline">Pol: </p>
                                    <div class="form-check-inline mr-3">
                                        <input type="radio" name="pol" value="M" [(ngModel)]="pol"> 
                                        <label class="form-check-label">
                                                Muški   
                                        </label>
                                    </div>
                                    <div class="form-check-inline mr-3">
                                        <input type="radio" name="pol" value="Z" [(ngModel)]="pol">
                                        <label class="form-check-label">
                                                Ženski
                                        </label>
                                    </div>
                                    <div class="form-check-inline mr-3">
                                        <input type="radio" name="pol" value="N" [(ngModel)]="pol">
                                        <label class="form-check-label">
                                                Ne želim da se izjasnim
                                        </label>
                                    </div>
                                    <br>
                                    <p class="form-check-inline">Profilna slika: </p>
                                    <div class="form-check-inline mr-3">
                                        <input type="file" (change)="onFileSelected($event)" #fileInput>
                                    </div>
                                    <br>
                                    <div class="alert alert-info" role="alert" *ngIf="message != ''">
                                        {{message}}
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td class="text-center">   
                                            <button (click)="registruj()" class="btn btn-block btn-info">Registracija</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br>
</body>