<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                        <br>
                        <div class="card bg-warning shadow-soft p-4">
                            <div class="text-center  pb-0">
                                <h2 class="mb-0 h5">Registruj restoran</h2>                               
                            </div>
                            <div class="card-body text-center">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="korime">Naziv restorana</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="korime" [(ngModel)]="naziv" type="text" aria-label="email adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mejl">Tip</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="mejl" [(ngModel)]="tip" type="text" aria-label="email adress" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lozinka">Adresa</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="lozinka" [(ngModel)]="adresa" type="text" aria-label="email adress" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="potvrda">Krakat opis</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="potvrda" [(ngModel)]="kratak_opis" type="text" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="potvrda">Kontakt</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="pitanje" [(ngModel)]="kontakt" type="text" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="potvrda">Mapa</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="pitanje" [(ngModel)]="mapa" type="text" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <p class="form-check-inline">Raspored stolova i meni: </p>
                                    <div class="form-check-inline mr-3">
                                        <input type="file" (change)="onFileSelected($event, 'file1')" #fileInput accept=".json">
                                    </div>
                                    <br>
                                    <div *ngIf="file1Data">
                                        <h3>Spisak stolova i meni:</h3>
                                        <pre>{{ file1Data | json }}</pre>
                                    </div>
                                    <div class="alert alert-info" role="alert" *ngIf="message != ''">
                                        {{message}}
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td class="text-center">   
                                            <button (click)="dodaj_restoran()" class="btn btn-block btn-info">Registracija</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br>
</body>