<body>
    <main>
    <section class="min-vh-100 d-flex align-items-center">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 justify-content-center">
            <br>
            <div class="card bg-warning shadow-soft p-4">
                <div class="text-center pb-0">
                <h2 class="mb-0 h5">Promeni informacije</h2>
                </div>
                <div class="card-body text-center">
                <div class="form-group">
                    <div class="form-group">
                        <label for="korime">Korisničko ime: {{k.korime}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="korime" [(ngModel)]="korime">
                            <button class="btn btn-info" (click)="izmeni(1)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imejl">Mejl: {{k.imejl}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="imejl" [(ngModel)]="imejl">
                            <button class="btn btn-info" (click)="izmeni(2)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pitanje">Sigurnosno pitanje: {{k.pitanje}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="pitanje" [(ngModel)]="pitanje">
                            <button class="btn btn-info" (click)="izmeni(3)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="odgovor">Odgovor: {{k.odgovor}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="odgovor" [(ngModel)]="odgovor">
                            <button class="btn btn-info" (click)="izmeni(4)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ime">Ime: {{k.ime}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="ime" [(ngModel)]="ime">
                            <button class="btn btn-info" (click)="izmeni(5)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prezime">Prezime: {{k.prezime}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="prezime" [(ngModel)]="prezime">
                            <button class="btn btn-info" (click)="izmeni(6)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adresa">Adresa: {{k.adresa}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="adresa" [(ngModel)]="adresa">
                            <button class="btn btn-info" (click)="izmeni(7)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kontakt">Kontakt: {{k.kontakt}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="kontakt" [(ngModel)]="kontakt">
                            <button class="btn btn-info" (click)="izmeni(8)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="k.tip == 'musterija'">
                        <label for="kartica">Broj kreditne kartice: {{k.kartica}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <input type="text" class="form-control" id="kartica" [(ngModel)]="kartica">
                            <button class="btn btn-info" (click)="izmeni(9)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="k.tip == 'waiter'">
                        <label for="telefon">Restoran: {{k.radi_u}}</label>
                        <div class="d-flex d-inline-block ml-2">
                            <button class="btn btn-info" (click)="izmeni(10)">Izmeni</button>
                        </div>
                    </div>
                    <div class="form-group d-inline-block">
                        <label for="pol">Pol: {{k.pol}} (opcije M, Z, N)</label>
                        <div class="d-flex ml-2">
                            <input type="text" class="form-control" id="pol" [(ngModel)]="pol">
                            <button class="btn btn-info" (click)="izmeni(11)">Izmeni</button>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                    <p class="form-check-inline">Profilna slika:</p>
                    <div class="form-check-inline ml-3">
                        <input type="file" (change)="onFileSelected($event)" #fileInput>
                        <button class="btn btn-info" (click)="izmeni(12)">Izmeni</button>
                    </div>
                    </div>
                    <br>
                    <div class="alert alert-info" role="alert" *ngIf="message != ''">
                    {{message}}
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    </main>
    <br>
</body>
